.control-panel{
    width: 100%;
}

.add-user-btn{
    background-color: black;
    color: rgb(212, 211, 211);
    transition: all 0.2s;
    width: 2rem;
    height: 2rem;
}

.add-user-btn:hover{
    background-color: rgb(53, 48, 48);
}