.modal-data{
    height: 95%;
    width: 95%;
    margin: 0 auto;
    border: solid black 1px;
    background-color: #4b5970;
    color: white;
}

.modal-data ::placeholder{
    color: rgb(26, 25, 25);
}

.edit-form{
    height: 100%;
}

.edit-input{
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    
}


.add-btn{
    background-color: rgba(0,0,0,0);
    color: #2d3542;
    transition: all 0.2s;
}

.add-btn:hover{
    color: black
}