html,ul{
  padding: 0;
}

.App{
  color: whitesmoke;
}

.list-container{
  width: 30%;
  /* height: 100vh; */
  background-color: #4b5970;
}

.user-container{
  width: 70%;
  background-color: #2d3542;
}


/* HELPERS */

* {
  box-sizing: content-box;
}

ul{
  list-style: none;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

/* ************************************** */