html,ul{
  padding: 0;
}

button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input,select{
  outline: none;
  border: none;
}

.App{
  color: rgb(230, 230, 230);
}

.list-container{
  width: 35%;
  min-height: 100vh;
  background-color: #4b5970;
}

.user-container{
  width: 65%;
  min-height: 100vh;
  background-color: #2d3542;
}

.section-title{
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* HELPERS */

* {
  box-sizing: content-box;
}

ul{
  list-style: none;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

/* ************************************** */